.aside 
  grid-area: aside
  position: fixed
  top: 6rem
  right: 0
  padding-top: 2rem
  height: calc(100vh - 6rem)
  width: 7rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  background-color: white
  
  li
    margin-bottom: 1rem

.logoutBtn
  margin-top: auto
  fill: white
  border-radius: 0