.settings
  padding: 2rem
  background-color: #FFFFFF
  border-radius: 1.5rem
  box-shadow: 0 0 40px 0 rgba(94,92,154,.1)

  h2
    margin-bottom: 2rem

.avatarInner
  display: inline-flex
  flex-direction: column
  align-items: center

  &:not(:last-child)
    margin-right: 2rem
    
  p 
    opacity: .8