.info
  text-align: center

.fullName
  font-weight: 600
  font-size: 2rem
  line-height: 2.4rem
  color: #3E3F5D
  text-transform: capitalize

.aboutMe
  margin-top: 1rem
  text-transform: uppercase
  font-weight: 600
  font-size: 12px
  line-height: 15px
  text-decoration: none
  opacity: .5
  transition: .3s all ease