.info
  text-align: center

.username
  font-weight: 600
  font-size: 2ren
  line-height: 2.4rem
  color: #3E3F5D

.website
  margin-top: 1rem
  text-transform: uppercase
  font-weight: 600
  font-size: 12px
  line-height: 15px
  text-decoration: none
  opacity: .5
  transition: .3s all ease

  &:hover
    opacity: .8