.navbar
  grid-area: nav
  padding: 2rem
  background-color: #39f09a

.list 
  li 
    a
      color: #ffffff
      text-decoration: none
      transition: .2s all ease
      &.active
        color: #e43939