*,
*::before,
*::after
  padding: 0
  margin: 0
  box-sizing: border-box

html
  font-size: 11px

body
  font-family: 'Montserrat', sans-serif
  font-size: 1.6rem

img
  max-width: 100%
  max-height: 100%

ul, ol
  list-style: none

a
  color: inherit


textarea, input[type=text], input[type=submit], input[type=passord]
  width: 100%
  max-width: 100%
  display: block
  padding: 1.7rem 2rem
  font-family: 'Montserrat', sans-serif
  color: #3E3F5D
  font-size: 1.4rem
  line-height: 1.6rem
  background-color: transparent
  border: .2rem solid #E5E4E8
  border-radius: 1.5rem
  transition: .3s border-color, background-color, color, box-shadow ease-in-out

  &::placeholder
    font-size: 1.4rem
    line-height: 1.6rem
    color: #AEAFB4

  &:focus
    outline: none
    border-color: lighten(#615DFA, 20%)
    outline: 0
    box-shadow: 0 0 0 0.2rem rgba(#615DFA,.25)
