*, 
*::before, 
*::after
  padding: 0
  margin: 0
  box-shadow: border-box

html
  font-size: 10px

body
  font-family: 'Montserrat', sans-serif
  font-size: 1.6rem

img
  max-width: 100%

ul, ol
  list-style: none

a 
  color: inherit