.profileInfo
  position: relative
  padding-bottom: 13rem
  border-radius: 1.5rem
  background-color: #FFFFFF
  overflow: hidden

.cover
  max-height: 26.5rem

.user
  position: absolute
  top: 47%
  left: 50%
  transform: translateX(-50%)