.profileInfo
  position: relative
  padding-bottom: 13rem
  border-radius: 1.5rem
  background-color: #FFFFFF
  overflow: hidden

.cover
  max-height: 26.5rem

.user
  position: absolute
  top: 43%
  left: 50%
  transform: translateX(-50%)

.socialLinks 
  position: absolute
  left: -3rem
  bottom: 3rem
  width: 100%
  display: flex
  justify-content: flex-end