.formControl 

  textarea, 
  select, 
  input[type=text], 
  input[type=submit], 
  input[type=password], 
  input[type=email]
    width: 100%
    max-width: 100%
    display: block
    padding: 1.4rem 1.8rem
    font-family: 'Montserrat', sans-serif
    color: #3E3F5E
    font-size: 1.4rem
    line-height: 1.6rem
    background-color: transparent
    border: .1rem solid #DEDEEA
    border-radius: 1.5rem
    transition: .3s border-color, background-color, color, box-shadow ease-in-out

    &::placeholder
      font-size: 1.4rem
      line-height: 1.6rem
      color: #AEAFB4

    &:focus
      outline: none
      border-color: #615DFA

  textarea
    resize: vertical
    

.invalid
  textarea, input
    border-color: #F93E4B

  span 
    color: #F93E4B


